$orange : #ff6e40;
$yellow : #ffc24a;
$main-margin: 5%;
$margin-top: 10%;
$icone-size: 14px;

.logo{
  position: absolute;
  top: 20px;
  left: 30%;
  width: 40%;
  height: 100px;
}
.logo-wel{
  @extend .logo;
  top: 120px;
  right: auto;
  left: auto;
  height: 80px;

}
body.wel{
  // height: 100%;
  background: url("../images/background1.png") no-repeat;
  background-size: 100%;
}
#welcome{
  position: absolute;
  top: 350px;
  right: 20%;
  left: 10%;
}

%span{
  padding: 15px;
  text-align: center;
  color: $orange;
  position: absolute;
  left: $main-margin ;
  right: $main-margin ;
}
%rounded-border{
  border: 2px solid $orange;
  border-radius: 15px;
}

.login {
  @extend %span;
  top: 180px;
}

.register {
  @extend %span;
  margin-top: 20px;
}

i{
  font-size: $icone-size;
}

//icone de page précédante
i.back{
  position: absolute;
  top: 15px;
  left: 15px;
  color: $orange;
}

//tous les champs de saisie
.infos{
  @extend %rounded-border;
}

// tous les boutons
.btn{
  @extend %rounded-border;
  background: $orange;
  color: white;

}

//les boutons de la page welcome
button.welcome{
  background: $yellow;
  border-color: $yellow;
}

//les boutons facebook et google
.FG{
  display: inline-block;
  background: white;
  color: $orange;
}

//code sms
.verify{
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;

}

strong{color: $orange;}
.sms{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.code{
  @extend  %rounded-border;
}
